body {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  background-image: url(fundo-animado-1.gif);
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  gap: 4%;
  width: 400px;
  height: 650px;
  align-items: center;
  background-color:#000000e7;
  border-radius: 20px;
}

.titulo {
  font-size: 3em;
}

.numero-passos {
  width: 80px;
}

.corpo-bt {
  display: flex;
  gap: 12%;
  width: 300px;
  height: 40px;
  margin-right: 15px;
}

button {
  width: 100px;
  height: 30px;
}

.text {
  width: 300px;
  height: 80px;
}

.info {
  width: 50px;
}

.containers-info {
  display: flex;
  gap: 20%;
  width: 300px;
  justify-content: center;
  margin-left: 50px;
}

.teste {
  width: 100px;
}

.texto-cifra {
  margin-left: 10px;
}

.aparecer {
  display: block;
  padding: 20px;
  width: 300px;
  height: 400px;
  background-color: black;
  color: white;
  padding: 50px;
  border: 3px solid #888;
  border-radius: 10px;
  position: absolute;
  top: 3;
  left: 3;
}

.fechar {
  width: 15px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.sumir {
  display: none;
}
.bt {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#escolha {
  width: 400px;
}
